<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PersistenciaDestino" value="PostgresEscuela"/>
	</appSettings>
	<connectionStrings>
		<add name="SQLServerEscuela"
			 connectionString="Data source=localhost ; Initial Catalog=VentaAutos ; Integrated Security= true;"
		/>
		<add name="PostgresEscuela"
			 connectionString="Host = localhost; Database = VentaAutos; Username = postgres; Password = 1234"
		/>
		<add name="memoriaEscuela"
			 connectionString="databaseName: Memoria"
		/>

	</connectionStrings>
</configuration>